<div id="blog-nav" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="#!/">Blog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{{ postActiveClass  }}"><a href="#!/newBlogPost">Post</a></li>
                    <li class="{{ aboutActiveClass }}"><a href="#!/about">About</a></li>
                </ul>
                <button ng-show="loginStatus" ng-click="LogoutCtrl()" type="button" class="btn btn-default navbar-btn navbar-right">Logout</button>
                <button ng-show="!loginStatus" ng-click="LoginCtrl()" type="button" class="btn btn-default navbar-btn navbar-right">Login</button>
            </div>
        </div>
    </nav>
</div>